@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* variables for both themes - dark is default */
:root {
    --primary: #E2FDE6;
    --secondary: #0e100e;
    --black-transparent: rgba(14, 14, 16, 0.7);
    --purple-gradient: linear-gradient(135deg, #6A5ACD, #4b0082); 
    --gradient-glow: linear-gradient(135deg, #FFD700, #FF4500, #1E90FF);
    --shadow-glow: 0 0 20px rgba(255, 255, 255, 0.5);

    /* dark theme  */
    --bg-color: #0e100e; 
    --text-color: #e2fde6;
    --border-color: rgba(226, 253, 230, 0.3);
    --container-bg: var(--black-transparent);
    --shadow-color: rgba(14, 14, 16, 0.7); 
    --button-border-color: #E2FDE6; 
    --button-hover-bg: rgba(255, 255, 255, 0.1); 
}

/* light theme */
body.light-theme {
    --bg-color: #E2FDE6; 
    --text-color: #0e100e; 
    --border-color: rgba(14, 16, 14, 0.3);
    --container-bg: #ffffff; 
    --shadow-color: rgba(14, 14, 16, 0.7); 
    --button-border-color: #0e100e; 
    --button-hover-bg: #f0f0f0; 
}


* {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scrollbar-width: none;
}

::selection {
    color: var(--bg-color);
    background-color: var(--text-color);
}

body {
    color: var(--text-color); 
    background: var(--bg-color); 
    font-size: 18px;
    line-height: 1.6; 
    display: flex; 
    align-items: center;
    justify-content: center;
    /* min-height: 100vh;  */
    padding: 20px; 
    transition: background-color 0.3s, color 0.3s; 

}

.dashboard-title{
    color: var(--bg-color);
    -webkit-text-stroke-color: var(--text-color);
    -webkit-text-stroke-width: 3px;
    font-size: 10rem;
}

.container {
    width: 100%;
    padding: 60px 10px; 
    /* background-color: var(--container-bg);  */
    /* border: var(--text-color) 1px solid; */
    border-radius: 15px; 
    /* box-shadow: 0 0 30px var(--shadow-color);  */
    backdrop-filter: blur(12px); 
    text-align: center; 
    transition: background-color 0.3s, box-shadow 0.3s;
    animation: fadeIn 1.2s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

h1, h2 {
    color: var(--text-color); 
    transition: color 0.3s; /* smooth color change */
}

h1 {
    font-size: 2.5rem; 
    /* margin-bottom: 20px;  */
    font-weight: 800;
    /* background: var(--gradient-glow);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* text-shadow: var(--shadow-glow); */
    color: var(--text-color);
    padding: 20px 0; 
}

h2 {
    font-size: 1.8rem; 
    font-weight: 600;
    padding: 15px 0; 
}


.hidden {
    display: none; 
}


button {
    display: block; 
    width: 100%; 
    padding: 15px; 
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px; 
    font-weight: 600;
    cursor: pointer; 
    background: transparent; 
    color: var(--text-color); 
    border: 2px solid var(--text-color); 
    border-radius: 50px; 
    transition: background-color 0.1s, border-color 0.1s, transform 0.1s, box-shadow 0.1s; 
    text-decoration: none;
}

#key-input {
    outline: none;
    width: 100%;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    font-size: large;
}

#key-input::selection {
    color: var(--text-color);
    background-color: var(--bg-color);
}

#dashboard-button {
    margin-top: 0;
    margin-bottom: 0;
}

button:hover {
    background-color: var(--text-color); 
    color: var(--bg-color);
    transform: scale(1); 
}


button.green {
    border-image: linear-gradient(135deg, #32CD32, #00FF00) 1; 
}

button.purple {
    border-image: linear-gradient(135deg, #8A2BE2, #6A5ACD) 1; 
}

button.blue {
    border-image: linear-gradient(135deg, #1E90FF, #00BFFF) 1; 
}

button.orange {
    border-image: linear-gradient(135deg, #FF4500, #FFD700) 1; 
}

button.dashboard {
    background-color: var(--custom-blue);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    margin-top: 40px;
    transition: transform 0.1s ease, background-color 0.1s;
}

button.dashboard:hover {
    background-color: #00aaff;
    transform: scale(1.05);
}


.quiz-item {
    margin: 25px 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; 
    border: var(--border-color) 2px solid;
    border-radius: 20px;
    padding: 3rem;
}

#quiz-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiz-question {
    font-weight: 400; 
    color: var(--text-color); 
    animation: slideInLeft 0.8s ease;
}

@keyframes slideInLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

.quiz-row {
    display: flex; 
    align-items: baseline;
    font-size: small;
}

.quiz-row [type="radio"] {
    display:none;
}

.quiz-row label {
    display: block;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    border: var(--text-color) 2px solid;
}

.quiz-row label:hover {
    border: var(--button-border-color) 2px solid;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.quiz-row [type="radio"]:checked ~ label {
    border: var(--button-border-color) 2px solid;
    background-color: var(--text-color);
    color: var(--bg-color);
}


.theme-switch-wrapper {
    position: absolute;
    top: 20px; 
    right: 20px;
    z-index: 1;
}


.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px; 
    height: 25px; 
}

.theme-switch input {
    display: none; /* hide checkbox */
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color); 
    transition: 0.2s; 
    border-radius: 25px; /* round */
}

/* little circle on the slider */
.slider:before {
    position: absolute;
    content: "";
    height: 21px; 
    width: 21px;
    left: 4px;
    bottom: 2px;
    background-color: var(--bg-color); 
    transition: 0.2s;
    border-radius: 50%; 
}


input:checked + .slider {
    background-color: #4b0082; 
}

input:checked + .slider:before {
    transform: translateX(24px); /* move the circle right */
}

/* slider color change for light theme */
body.light-theme input:checked + .slider {
    background-color: var(--secondary); 
}

body.light-theme input:checked + .slider:before {
    transform: translateX(24px); /* moves right */
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dashboard {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-history {
    margin: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history-item {
    width: 100%;
    min-height: 20rem;
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 25px;
    border: var(--text-color) 1px solid;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}


.link-url {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.2rem;
    color: var(--text-color);
    text-decoration: none;
    transition-duration: 0.1s;

}


.link-url:hover{
    background-color: var(--text-color);
    color: var(--bg-color);

}

.item-score {
    background-color: var(--text-color);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: var(--bg-color);
    border-radius: calc(25px + 3rem);
    width: fit-content;
    font-weight:600;
}

.score {
    margin-bottom: 30px;
}

.summary-content {
    text-align: left;
    font-size:medium;
}

.loader {
    border: 8px solid var(--bg-color); 
    border-top: 8px solid var(--text-color); 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    display: none; 
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loader.active {
    display: block;
}

.hidden {
    display: none;
}

/* #dashboard-button {
    color: var(--text-color);
    text-decoration: none;
    transition-duration: 0.5s;
}


#dashboard-button:hover {
    color: var(--bg-color);
    text-decoration: none;
    -webkit-text-stroke-color: var(--text-color);
    -webkit-text-stroke-width: 1px;
} */


/* #dashboard-button a.no-style-link {
    color: var(--text-color);
    text-decoration: none;
    transition-duration: 0.5s;

} */

a {
    text-decoration: none;
}